@import "tailwindcss";

:root {
  /* Modo claro por defecto */
  
  --background: linear-gradient(to right, #38bdf8, #2563eb);
  --foreground: #1f2937;
  --accent: #007bff;
  --text-primary: #f1f5f9;
  --text-secondary: #4b5563;
  --font-sans: Arial, Helvetica, sans-serif;
}

/* .bg-gradient-brand {
  /* background-image: linear-gradient(to right, #2563eb, #38bdf8); */



@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
/* bg-gray-900;  */
    /* --background: #1e1b4b;  */
    /* Indigo oscuro */
    /* --background: #2b1e3f; Indigo oscuro */
    /* --background: #4a2b6f; Indigo oscuro */
    /* --foreground: #f1f5f9; Gris claro */
    --accent: #38bdf8;     /* Azul claro */
    --text-primary: #f1f5f9;
    --text-secondary: #4b5563;/* Azul muy claro */
    --font-sans: Arial, Helvetica, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

body {
  background-image: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Scrollbar oculto */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
